@font-face {
	font-family: 'lato-light';
	src: url(../../assets/fonts/lato-light-02aceb7cb34d514e933a40fedc253c5b.woff?h=db15d6906b330e05b7a47b9b1ea35c53) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}